
.text-9 {
  font-size: 36px !important;
  font-size: 2.25rem !important;
}
.fw-600 {
  font-weight: 600 !important;
}

.section {
  position: relative;
  padding: 4.5rem 0;
  overflow: hidden;
}

.nav-tabs {
  border-bottom: 1px solid #d7dee3;
}
.nav-tabs .nav-item .nav-link {
  border: 0;
  background: transparent;
  position: relative;
  border-radius: 0;
  padding: 0.6rem 1rem;
  color: #7b8084;
  white-space: nowrap !important;
}
.nav-tabs .nav-item .nav-link.active {
  color: #0c2f55;
}
.nav-tabs .nav-item .nav-link.active:after {
  height: 2px;
  width: 100%;
  content: ' ';
  background-color: #20c997;
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
}
.nav-tabs .nav-item .nav-link:not(.active):hover {
  color: #20c997;
}

.portfolio .portfolio-box {
  position: relative;
}
.portfolio .portfolio-box .portfolio-img {
  position: relative;
  overflow: hidden;
}
.portfolio .portfolio-box .portfolio-overlay {
  text-align: center;
  display: -ms-flexbox !important;
  display: flex !important;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.portfolio .portfolio-box:hover .portfolio-overlay {
  opacity: 1;
}
.portfolio .portfolio-box .portfolio-img img {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.portfolio  {
  width: 100%;
  margin-top: auto;
  margin-bottom: auto;
}


